* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #2196F3;
}

.container {
    width: 992px;
    margin: 0 auto;
    margin-top: 50px;
}

h1 {
    text-align: center;
}

.task {
    margin: 0 auto;
    width: 600px;
    height: 50px;
    margin-bottom: 100px;
    background: white;
    border-radius: 5px
}

.task__input {
    border: none;
    outline: none;
    margin: 0 auto;
    font-size: 17px;
    width: 490px;
    background: white;
    min-height: 100%;
    margin-left: 5px;
}

.task__add-button {
    width: 90px;
    height: 40px;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}

.todo-list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.todo-list__block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: none;
    width: 100%;
    overflow-wrap: break-word;
}

.todo-list__text {
    min-height: 50px;
    width: 500px;
    font-size: 20px;
    font-size: 1.5;
    overflow-wrap: break-word;
    outline: 0px solid transparent;
}

.button-block {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.todo-container {
    margin: 0 auto;
    margin-top: 20px;
    background: white;
    border-radius: 5px;
    width: 600px;
}

.check-button,
.delete-button {
    height: 40px;
    width: 40px;
    border: none;
    background: none
}

.check-button,
.delete-button i {
    font-size: 20px;
    padding: 0;
    color: #2196F3
}