* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgba(8, 10, 148, 0.83);
}

.container {
    width: 992px;
    margin: 0 auto;
    margin-top: 50px;
}

h1 {
    text-align: center;
    font-size: 30px;
    color: white;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.task {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 600px;
    height: 70px;
    margin-bottom: 100px;
    background: white;
    border-radius: 5px
}

.task__input {
    border: none;
    outline: none;
    margin: 0 auto;
    font-size: 24px;
    width: 490px;
    background: white;
    min-height: 100%;
    padding: 0 10px;
}

.task__add-button {
    width: 90px;
    height: 70%;
    padding: 10px;
    background: rgba(39, 41, 183, 0.83);
    color: white;
    font-size: 17px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 5px;
}

.task__add-button:hover {
    background: rgba(34, 36, 148, 0.61);
}

.todo-list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.todo-list__block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: none;
    width: 100%;
    overflow-wrap: break-word;
    border-bottom: 1px solid grey;
    padding: 10px 5px;
}

.todo-list__text {
    min-height: 50px;
    width: 450px;
    font-size: 24px;
    overflow-wrap: break-word;
    outline: 0px solid transparent;
    padding: 0 10px;
    line-height: 2;
}

.button-block {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.todo-container {
    margin: 0 auto;
    margin-top: 20px;
    background: white;
    border-radius: 5px;
    width: 600px;
}

.check-button,
.delete-button {
    height: 50px;
    width: 50px;
    border: none;
    background: none
}

.check-button,
.delete-button i {
    font-size: 20px;
    padding: 0;
}

.delete-button i {
    color: red;
}